.rrui__tooltip {
  /* Display the tooltip above the content. */
  margin-top: -0.5em;
  background-color: black;
  color: white;
}

.rrui__tooltip--after-show {
  opacity: 0.85;
}

.rrui__tooltip--before-hide {
  opacity: 0;
}
